.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
out/
*.DS_Store
gradle/remote/*
Releasenotes.md
tmp/*
.kotlintest/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Frontend ###
node_modules/
npm-debug.log
yarn-error.log
src/main/resources/static/
src/frontend/**/coverage/
.cache
src/frontend/**/dist/
src/frontend/**/www/
src/frontend/**/loader/
package-lock.json
src/frontend/package-lock.json
src/frontend/.package-lock.json
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.stencil/
.idea/
.sass-cache/
.versions/
$RECYCLE.BIN/
Thumbs.db
UserInterfaceState.xcuserstate
.env
src/main/resources/js/
src/frontend/main/
.package-lock.json
src/main/resources/static/
.vscode/
.history
/bin
